<div class="container-standard">
    <h1 class="title-standard">Acesse sua conta<span class="point">:</span></h1>
    
        <form action="/login" method="POST">
            <div class="form-control-container">
                <div class="form-control">
                    <label for="email">Email:</label>
                    <input type="email" name="email" required>
                </div>
                <div class="form-control">
                    <label for="password">Senha:</label>
                    <input type="password" name="password" required>

                </div>
            </div>
            <input type="submit" class="login-btn blue-btn" value="Entrar">
        </form>
    
    <p class="paragraph-standard">Não possui uma conta? Cadastre-se! <a href="/register" class="link">Clique aqui!</a></p>
</div>