<div class="container-standard">
    <h1 class="title-standard">Sentiremos sua falta!</span></h1>
    
        <form action="/logout" method="POST">
            <div class="form-control-container">
                <div class="form-control">
                    <label for="email">Email:</label>
                    <input type="email" name="email" required>
                </div>
                <div class="form-control">
                    <label for="password">Senha:</label>
                    <input type="password" name="password" required>

                </div>
            </div>
             <p class="paragraph-standard">Após clicar no botão abaixo sua conta irá ser excluída automaticamente</a></p>
            <input type="submit" class="logout-btn red-btn" value="Sair">
        </form>
</div>